<%- include('./partials/head') %>
<%- include('./partials/header') %>

<main class="list">
    <div class="toolboard__intro">
        <h1>Check</h1>
    </div>
    <div class="websites">
        <div class="websites__container">
            <div>
                <h2><%= checkData.url.website.titel %></h2>
                <a class="websites__link" target="_blank" href="<%= checkData.url.url %>"><%= checkData.url.url %></a>
            </div>
        </div>
    </div>
</main>

<%- include('./partials/foot') %>