<%- include('./partials/head') %>
<%- include('./partials/navigation') %>

<form action="/new" method="post">

    <label>
        Naam van partner:
        <select name="websiteId" id="websiteId" value="<%= locals.values?.websiteId ?? '' %>">
			<% data.websites.forEach(website => { %>
				<option value="<%= website.id %>">
					<%= website.titel %>
				</option>
			<% }) %>
		</select>
      </label>

    <label>
        Naam van URL: 
        <input type="url" name="url" id="url" value="<%= locals.values?.url ?? '' %>" >
    </label>

    <button type="submit">Toevoegen</button>
</form>

<%- include('./partials/foot') %>

<%- include('./partials/foot.ejs') %>